<!-- <p *ngIf="signUpStatusMessage!=''">{{signUpStatusMessage}}</p> -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  <div class="formwrapperdiv">
    <!-- signUpSuccessFlag -->
<div *ngIf="signUpSuccessFlag" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Sign Up was successful. Please <a routerLink="/auth" class="alert-link">login</a>
    </div>
</div>
<div *ngIf="signUpFailureFlag" class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{signUpFailureMessage}}
    </div>
  </div>
<form (ngSubmit)="signUp()" #signUpForm="ngForm">
    <legend>Sign Up</legend>
    <div class="mb-4">
        <!-- <label for="firstname" class="form-label">First Name</label> -->
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name"
            [(ngModel)]="signUpUser.firstName">
    </div>
    <div class="mb-4">
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name"
            [(ngModel)]="signUpUser.lastName">
    </div>
    <div class="mb-4">
        <!-- <label for="mobilenumber" class="form-label">Phone</label> -->
        <input type="tel" class="form-control" id="mobilenumber" name="mobilenumber" placeholder="Mobile Number"
            [(ngModel)]="signUpUser.phone">
    </div>
    <div class="mb-4">
        <!-- <label for="mobilenumber" class="form-label">Phone</label> -->
        <input type="email" class="form-control" id="email" name="email" placeholder="Email address"
            [(ngModel)]="signUpUser.email">
        <div id="emailInfo" class="form-text">Your email address will be your User Name.</div>
    </div>
    <div class="mb-4">
        <!-- <label for="password" class="form-label">Password</label> -->
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
            [(ngModel)]="signUpUser.password">
    </div>
    <div class="dateofbirthgroup mb-4">
        <label>Date Of Birth</label> 
        <div class="dateofbirthselects">
        <select class="form-select" name="dobDay" aria-label="Default select example" [(ngModel)]="signUpUser.dobDay">
            <!-- <option selected>Day</option> -->
            <option value={{day}} *ngFor="let day of daysOfMonth">{{day}}</option>
        </select>
        <select class="form-select" name="dobMonth" aria-label="Default select example" [(ngModel)]="signUpUser.dobMonth">
            <!-- <option selected>Month</option> -->
            <option value={{month}} *ngFor="let month of monthsOfYear">{{month}}</option>
        </select>
        <select class="form-select" name="dobYear" aria-label="Default select example" [(ngModel)]="signUpUser.dobYear">
            <!-- <option selected>Year</option> -->
            <option value={{year}} *ngFor="let year of years">{{year}}</option>
        </select>
    </div>
    </div>
    <!-- <div class="dateofbirthgroup mb-4">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Date
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" *ngFor="let day of daysOfMonth" (click)="setDobDay(day)">{{day}}</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
                Month
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" *ngFor="let month of monthsOfYear" (click)="setDobMonth(month)">{{month}}</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton3"
                data-bs-toggle="dropdown" aria-expanded="false">
                Year
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item" *ngFor="let year of years" (click)="setDobYear(year)">{{year}}</a></li>
            </ul>
        </div>
    </div> -->
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
</form>
</div>